HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Secrets & credentials
application-prod.properties
application-dev.properties
application-test.properties
application.properties
secrets.yaml
*.env
.env*
Ajoute au .gitignore :
**/rabbitmq-credentials.yaml
**/secrets.yaml
*secret*.yaml

# Ne jamais committer les properties avec vrais mots de passe
**/application-prod.properties
**/application-dev.properties
